body {
  background-color:Ivory;
  color:Gray;
}
h1 {
  font-size: 35px;
  border-style:double;
}
h2 {
  border-style:dashed;
}
p {
  font-size: 16px;
  color:DarkBlue;
  background-color:Lavender;
}
ol {
  list-style-type:upper-alpha;
}
ul {
  list-style-type:square;
}
div {
  border-style:dotted;
  border-width:2px;
}
.profile {
  width:200px;
  height:200px;
}
#first {
  background-color:violet;
}
a {
  background-color:yellow;
  border:2px solid blue;
  border-radius:5px;
}
