a {
  background-color:yellow;
  border:2px solid blue;
  border-radius:5px;
}
article {
  background-color:black;
}
aside {
  background-color:yellow;
  float:right;
  width:30%;
}
body {
  background-color:Ivory;
  color:Gray;
}
.container {
  margin:auto;
  max-width:960px;
}
#first {
  background-color:violet;
}
footer {
  background-color:purple;
}
header {
  background-color:purple;
}
h1 {
  font-size: 35px;
  border-style:double;
  padding:10px;
  color:White;
}
h2 {
  border-style:dashed;
  padding:10px;
  color:White;
}
h3 {
  border-style:solid;
  padding:10px;
  color:DarkBlue;
}
nav {
  background-color:grey;
}
ol {
  list-style-type:square;
}
p {
  font-size: 16px;
  color:DarkBlue;
  background-color:Lavender;
  margin-right:40px;
  padding:10px;
}
#photo {
  display:block;
  float:right;
  border:7px solid grey;
}
.profile {
  width:940px;
  height:200px;
}
section {
  background-color:green;
  width:60%;
}
ul {
  list-style-type:square;
  color:DarkBlue;
}
